altgraph==0.17.4
certifi==2025.8.3
charset-normalizer==3.4.3
darkdetect==0.8.0
idna==3.10
internetarchive==5.5.0
jsonpatch==1.33
jsonpointer==3.0.0
macholib==1.16.3
packaging==25.0
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
requests==2.32.4
setuptools==80.9.0
tqdm==4.67.1
urllib3==2.5.0
